* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#component {
  position: absolute;
  display: flex;
  border: red solid 2px;
  width: 20%;
  height: 40%;
  /* margin: 0 auto; */
  left: 40%;
  top: 40%;
  flex-direction: column;
  justify-content: space-around; 
}

.text {
  width: 100%;
}

.button {
  border: red solid 2px; 
  border-radius: 10px;
  width: 100%;
}

.textCheckbox {
  /* position: absolute; */
  width: 15%;
  content: "dddddddddd";
  background-color: green;
  border-radius: 10px;
  list-style-type: none;
  border: 0;
  font-size: 20px;
  margin-left: 40px;
  order: red solid 2px; 
}

.tags-area {
  height: 80%;
}

.button_delete {
  position: absolute;
  width: 15%;
  content: "\2716";
  background-color: green;
  border-radius: 10px;
  list-style-type: none;
  border: 0;
  font-size: 20px;
  margin-left: 250px;
}

.new-teg {
  content: "";
  display: flex;
  justify-content: space-around;
  border: red solid 2px; 
  background-color: green;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(6, 236, 37, 0.451);
  border-radius: 10px;
  list-style-type: none;
  font-size: 30px;
  /* width: 40%; */
  margin: 0 auto;
  /* margin-left: 30%; */
  padding-bottom: 2px; 
 
   }
