* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* .main {

} */


#component {
    position: absolute;
    display: flex;
    border: red solid 2px;
    width: 20%;
    height: 40%;
    left: 40%;
    top: 40%;
    flex-direction: column;
    justify-content: space-around;
   

    
}
.text {
    width: 70%;
    border: red solid 2px;
}
.button {
    border: red solid 2px; 
}
.tags-area {
    border: red solid 2px; 
    height: 80%;
}
/* .new-teg::after */
.button_delit {
    width: 5%;
    border: red solid 2px; 
    content: "\2716";
}
.new-teg {
    display: flex;
    justify-content: space-between;
    border: red solid 2px; 
    list-style-type: none; /* Убираем маркеры */
   }
/* .checkbox {
    list-style-type: none;
} */